.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name
        name
      %ul.user-menu
        %li.user-menu__edit-user
        = link_to "/groups/new" do
          =fa_icon "edit"
        %li.user-menu__new-group
        = link_to "/users/edit" do
          =fa_icon "cog"
    .groups
      = link_to "groups/messages" do
        .group
          %p.group__group-name 
            group name
          %p.group__latest-message
            group messages
  .chat-main
    .main-header 
      .current-group  
        %h2.current-group__name
          group name
        %ul.member-list
          Member：
          %li.member-list__member
            name
      = link_to root_path do
        .main-header__edit-btn 
          Edit
    .messages
      .message
        .upper-info
          .upper-info__user
            name
          .upper-info__date
            2019/06/28(Fri) 19:36:29
        %p.message__text
          test
    .form
      = form_for("") do |f|
        .input-box
          = f.text_field "content",class: "message_content input-box__text", placeholder: "type a message"
          = f.label "image", class: "image-label", for: "message_image" do
            =fa_icon "image"
            = f.file_field :upload_file, class: "image-label__input", id: "message_image"
          = f.submit "Send", class: "new-message__submit-btn"

